body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #add8e6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.links {
  position: absolute;
  bottom: 20px;
  /* Adjust as needed */
  right: 20px;
  /* Adjust as needed */
}

.link-box {
  display: inline-block;
  background-color: blue;
  /* Your preferred shade of blue */
  color: white;
  /* Text color */
  text-decoration: none;
  /* Remove the underline from the links */
  padding: 10px 20px;
  /* Add some padding inside the boxes */
  margin: 0 5px;
  /* Add some space between the boxes */
  border-radius: 5px;
  /* Optional: if you want rounded corners */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  /* Optional: if you want to add a shadow effect */
}

.about-me-section {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
}

.profile-photo {
  width: 150px;
  /* Adjust as needed */
  height: 150px;
  /* Adjust as needed */
  border-radius: 50%;
  margin-right: 20px;
}

.about-me-content {
  flex-grow: 1;
}

.social-links {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.social-links a {
  margin: 0 10px;
}

.timeline {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 100px 0;
  margin-top: 250px;
  /* margin-top: 150px; */
  /* This gives more space above and below the timeline */
}

.timeline::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  /* Thickness of the line */
  background-color: #000;
  /* Color of the line */
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
  /* Start the line a bit further from the left edge */
  right: 15%;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
  margin: 0 10%;
}

.skills-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 5px;
  margin-top: 200px;
}

.skills-box {
  width: 30%;
  /* Adjust as needed */
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skills-box h2 {
  margin-top: 0;
}

.skills-box ul {
  list-style-type: none;
  padding-left: 0;
}

.skills-box ul li {
  background-color: #f3f3f3;
  padding: 5px;
  margin-bottom: 5px;
}