body,
html {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #add8e6;
  overflow-y: auto;
}

.experience-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.internship-description-container {
  width: 100%;
  margin-top: 40px;
}

.textual-description {
  padding: 20px;
  margin-top: 20px;
}

.inline-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.technical-skills,
.soft-skills {
  width: calc(50% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

.technical-skills ul,
.soft-skills ul {
  list-style-type: none;
  padding-left: 0;
}

.technical-skills li,
.soft-skills li {
  margin: 5px 0;
  position: relative;
  padding-left: 30px;
}

.technical-skills li::before,
.soft-skills li::before {
  content: '•';
  /* Custom bullet point */
  color: white;
  /* Bullet point color */
  font-size: 20px;
  /* Bullet point size */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.return-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.return-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.return-button:hover {
  background-color: #2980b9;
}

.inline-video {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px auto;
  display: block;
}

@media (max-width: 768px) {

  .technical-skills,
  .soft-skills {
    width: 100%;
    margin: 10px 0;
  }

  .inline-image {
    width: 100%;
  }
}