body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #add8e6;
  overflow: hidden;
  /* Prevent scrolling */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.about-me-section {
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  /* Reduced to fit content within one screen */
  position: relative;
}

.links {
  position: absolute;
  top: 20px;
  right: 20px;
}

.link-box {
  display: inline-block;
  background-color: blue;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.about-me-content {
  flex-grow: 1;
}

.social-links {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.social-links a {
  margin: 0 10px;
}

.timeline-header {
  text-align: left;
  padding-left: 20px;
  margin-top: 20px;
  margin-left: 30px;
  /* Aligns the timeline header with the about me section */
}

.timeline {
  display: flex;
  justify-content: space-evenly;
  /* Ensures equal spacing between items */
  align-items: center;
  margin: 20px 0;
  /* Reduced to fit content within one screen */
  position: relative;
  width: 80%;
  /* Adjust as needed to fit your layout */
  margin-left: auto;
  margin-right: auto;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000;
  bottom: 20px;
  /* Adjusted to make sure the line goes through the center of the dots */
  transform: translateY(-50%);
}

.timeline-item {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-image img {
  max-width: 200px;
  /* Increased size */
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  /* Margin added to separate image from the dot */
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
  bottom: -10px;
  /* Adjusted to position dot on the timeline */
}

.timeline-label {
  margin-top: 30px;
  /* Adjusted to add space between dot and label */
  font-size: 18px;
  /* Increased font size */
}

.skills-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 60px;
  /* Increased margin-top to put the skills section lower */
}

.skills-box {
  width: 30%;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skills-box h2 {
  margin-top: 0;
}

.skills-box ul {
  list-style-type: none;
  padding-left: 0;
}

.skills-box ul li {
  background-color: #f3f3f3;
  padding: 5px;
  margin-bottom: 5px;
}