body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #add8e6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.about-me-section {
  display: flex;
  align-items: flex-start;
  /* Changed from center to flex-start to align items to the top */
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  /* To allow absolute positioning inside */
}

.links {
  position: absolute;
  top: 20px;
  /* Adjust as needed */
  right: 20px;
  /* Align to the right within the container */
}

.link-box {
  display: inline-block;
  background-color: blue;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.profile-photo {
  width: 150px;
  /* Adjust as needed */
  height: 150px;
  /* Adjust as needed */
  border-radius: 50%;
  margin-right: 20px;
}

.about-me-content {
  flex-grow: 1;
}

.social-links {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.social-links a {
  margin: 0 10px;
}

.timeline {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 100px 0;
  margin-top: 250px;
  /* margin-top: 150px; */
  /* This gives more space above and below the timeline */
}


.hover-image {
  display: none;
  /* Hide until hover */
  position: absolute;
  z-index: 10;
  /* Make sure it appears above other elements */
  transform: translate(-50%, -100%);
  /* Adjust to center above the dot */
  top: 0;
  left: 50%;
}

.hover-image img {
  max-width: 200px;
  /* Set a max-width for the image */
  max-height: 200px;
  /* Set a max-height for the image */
  object-fit: cover;
  /* This will make sure the image covers the area without distorting */
}

.timeline-header {
  text-align: left;
  /* Aligns the text to the left */
  padding-left: 20px;
  /* Adds some space from the left edge */
  margin-top: 20px;
  /* Adds space above the header */
}


.timeline::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  /* Thickness of the line */
  background-color: #000;
  /* Color of the line */
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
  /* Start the line a bit further from the left edge */
  right: 15%;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
  margin: 0 10%;
}

.skills-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 5px;
  margin-top: 200px;
}

.skills-box {
  width: 30%;
  /* Adjust as needed */
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skills-box h2 {
  margin-top: 0;
}

.skills-box ul {
  list-style-type: none;
  padding-left: 0;
}

.skills-box ul li {
  background-color: #f3f3f3;
  padding: 5px;
  margin-bottom: 5px;
}

/* .ph5-ns {
  padding-left: 4rem;
  padding-right: 4rem;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem
}

.cf:before,
.cf:after {
  content: " ";
  display: table
}

.cf:after {
  clear: both
} */